<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.0-beta3-->
    <link rel="stylesheet" href="bootstrap.min.css">

    <!-- mycss -->
    <link rel="stylesheet" href="mycss.css">

    <title>Milvest | Bom Retiro Atacado | Moda Feminina</title>

    <meta name="description" content="Criamos, Produzimos e Vendemos em Atacado. Loja em Bom Retiro, rua aimores 101. Site institucional da Milvest.">

    <meta name="keywords" content="Milvest, bomretiro, bom retiro, atacado, aimores, vestido, blusa, calca, calça, saia, milvest, instagram, whatsapp, outono, inverno, 2021, catálogo, catalogo">

    <meta name="author" content="Peter Kim">

    <link rel="shortcut icon" href="img/logo.svg" type="image/x-icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1W2212MFHD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-1W2212MFHD');
    </script>

</head>
<body>