<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<section class="" style="padding-top:70px">
    <div class="container">
        <div class="row text-center mb-5">
            <h1>Bem-vindo ao FAQ!</h1>
        </div>
        <div class="row">
            <h2>Atacado de quantas peças?</h2>
            <p>12 peças</p>
        </div>
        <div class="row">
            <h2>Qual horário comercial?</h2>
            <p>7:30 às 17:30, Segunda a Sexta - Obs: Atendiamento para cliente atacado</p>
        </div>
        <div class="row">
            <h2>Como faz para comprar no atacado?</h2>
            <p>Ter CNPJ no ramo de moda</p>
        </div>
        <div class="row">
            <h2>Eu consigo comprar pelo o Whatsapp?</h2>
            <p>Sim pelo o Whatsapp, o App da Milvest ou prensencial</p>
        </div>
        <div class="row">
            <h2></h2>
            <p></p>
        </div>
    </div>
</section>


<%- include('./partials/footer') %>